﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        @Html.ActionLink("Forum.NET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mr-auto mr-lg-0" })
        @if (User.IsInRole("Administrator"))
        {
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item mx-4">
                    @Html.ActionLink("Panel Administracyjny", "Admin", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
        }
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="logLinks">
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <main role="main" class="container mb-5">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
