﻿@using forum.net.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@if (Request.IsAuthenticated)
{
    var user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    { @Html.AntiForgeryToken() }

<ul class="navbar-nav ml-md-auto d-none d-md-flex">
    <li class="nav-item">
        @Html.ActionLink(
            user != null ? user.Nickname + " - zarządzaj" : "Nie znaleziono",
            "Index",
            "Manage",
            routeValues: null,
            htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
    </li>
</ul>
}
else
{
<ul class="navbar-nav ml-md-auto d-none d-md-flex">
    <li class="nav-item">@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
}
