﻿@model forum.net.Models.Forum

<h3>Jesteś pewny, że chcesz to usunąć?</h3>
<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sort)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" class="btn btn-info">Usuń</button>
        @Html.ActionLink("Wróć do listy", "Admin", "Home")
    </div>
    }
</div>
