﻿@model forum.net.Models.Ban

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
