﻿@model forum.net.Models.Threadtype

<h3>Jesteś pewny, że chcesz ten typ wątku?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-info">Usuń</button>
            @Html.ActionLink("Wróć do listy", "Admin", "Home")
        </div>
    }
</div>
