﻿@model forum.net.Models.AdminPanelViewModel

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex">
        <h5 class="flex-grow-1">Kategorie</h5>
        @Html.ActionLink("Stwórz nową", "Create", "Categories", null, new { @class = "btn btn-info btn-sm" })
    </div>

    <table class="table table-sm text-center table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Sort)
            </th>
            <th>
                Ostatnia modyfikacja
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Edytuj", "Edit", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Szczegóły", "Details", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Usuń", "Delete", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex">
        <h5 class="flex-grow-1">Fora</h5>
        @Html.ActionLink("Stwórz nowe", "Create", "Forums", null, new { @class = "btn btn-info btn-sm" })
    </div>

    <table class="table table-sm text-center table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forum.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forum.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forum.Sort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forum.Category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Forums.OrderBy(o => o.CategoryId)) {
        <tr class="@(item.CategoryId % 3 == 0 ? "table-warning" : "table-info")">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="text-right">
                @Html.ActionLink("Edytuj", "Edit", "Forums", new { id = item.ForumId }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Szczegóły", "Details", "Forums", new { id = item.ForumId }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Usuń", "Delete", "Forums", new { id = item.ForumId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
        }

    </table>
</div>


<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex">
        <h5 class="flex-grow-1">Użytkownicy</h5>
    </div>

    <table class="table table-sm text-center table-hover">
        <tr>
            <th>Adres E-Mail</th>
            <th>Nazwa użytkownika</th>
            <th>Rangi</th>
            <th>Data rejestracji</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Users) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @foreach (var role in item.Role)
                    {
                    <span class="badge badge-warning">@role</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#roles" onclick="loadRoles('@item.Id')">Zmień role</button>
                </td>
            </tr>
        }
    </table>
    <div class="modal fade" id="roles" tabindex="-1" role="dialog" aria-labelledby="rolesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zaznacz role użytkownika</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="@Url.Action("UpdateRoles", "Manage")" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="modal-body" id="checkboxRoles">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Wyjdź</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex">
        <h5 class="flex-grow-1">Typy wątków</h5>
        @Html.ActionLink("Stwórz nowy", "Create", "Threadtypes", null, new { @class = "btn btn-info btn-sm" })
    </div>

    <table class="table table-sm text-center table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Threadtype.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Threadtypes) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Edytuj", "Edit", "Threadtypes", new { id = item.ThreadtypeId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Szczegóły", "Details", "Threadtypes", new { id = item.ThreadtypeId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Usuń", "Delete", "Threadtypes", new { id = item.ThreadtypeId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex">
        <h5 class="flex-grow-1">Ogłoszenia</h5>
        @Html.ActionLink("Stwórz nowe", "Create", "Adverts", null, new { @class = "btn btn-info btn-sm" })
    </div>
    <table class="table table-sm text-center table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Advert.Title)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Adverts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Edytuj", "Edit", "Adverts", new { id = item.AdvertId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Szczegóły", "Details", "Adverts", new { id = item.AdvertId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Usuń", "Delete", "Adverts", new { id = item.AdvertId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    function loadRoles(userId) {
        $('#checkboxRoles').empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRolesByUserId", "Manage")',
            data: '{ id: "' + userId + '"}',  
            dataType: "json",  
            contentType: "application/json; charset=utf-8",  
            success: function (data) {
                $('#checkboxRoles').append(`<input type="hidden" name="userId" value="${userId}" />`);
                data.allRoles.forEach(r => {
                    $('#checkboxRoles').append(
                        `<div class="form-check">
                            <input class="form-check-input" type="checkbox" name="user_roles[]" value="${r.name}" id="${r.name}Role" ${data.userRoles.includes(r.name) ? 'checked' : ''} ${r.name == 'User' ? 'disabled' : ''} />
                            <label class="form-check-label" for="${r.name}Role">
                                ${r.name}
                            </label>
                        </div>`);

                });
            },  
            error: function () {
                $('#checkboxRoles').append(`<div class="alert alert-danger" role="alert">Wystąpił błąd podczas pobierania ról użytkownika.</div>`);
            } 
        });
    }
</script>