﻿@model forum.net.Models.HomeIndexViewModel

<div class="row justify-content-center">
    @foreach (var advert in Model.Adverts.OrderBy(o => o.CreatedAt))
    {
        <div class="card mb-3 col-3 mr-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>@advert.Title</strong></h5>
                <p class="card-text">@advert.Body</p>
                <p class="text-muted">Ostatnia modyfikacja: @advert.UpdatedAt</p>
            </div>
        </div>
    }
</div>
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Strona główna</h6>
    </div>
</div>

@foreach (var category in Model.Categories.OrderBy(o => o.Sort))
{
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">@category.Name</h6>
        @foreach (var forum in category.Forums.OrderBy(o => o.Sort))
        {
            <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                    <rect fill="@(forum.ForumId % 2 == 0 ? "#007bff" : "#e83e8c")" width="100%" height="100%" />
                </svg>
                <div class="media-body border-bottom border-gray">
                    <div class="mb-1 small lh-125">
                        <span class="text-gray-dark">
                            <strong>@Html.ActionLink(forum.Name, "Threads", "Threads", new { id = forum.ForumId }, new { })</strong>
                        </span>
                        - @forum.Description
                    </div>
                    <span class="small text-right">Wątków: @forum.Threads.Count</span>
                </div>
            </div>
        }
    </div>
}
<!-- Footer -->
<footer class="page-footer font-small blue mt-5">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <span class="font-weight-bold">Zarejestrowanych użytkowników: </span>@Model.Users.Count |
        <span class="font-weight-bold">Stworzonych tematów: </span>@Model.Threads.Count |
        <span class="font-weight-bold">Stworzonych postów: </span>@Model.Posts.Count
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->