﻿@model forum.net.Models.ThreadsViewModel

<div class="row justify-content-center">
    @foreach (var advert in Model.Adverts.OrderBy(o => o.CreatedAt))
    {
        <div class="card mb-3 col-3 mr-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>@advert.Title</strong></h5>
                <p class="card-text">@advert.Body</p>
                <p class="text-muted">Ostatnia modyfikacja: @advert.UpdatedAt</p>
            </div>
        </div>
    }
</div>
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Strona główna -> @Model.Forum.Name</h6>
    </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex">
        <h5 class="flex-grow-1">Tematy</h5>
        @Html.ActionLink("Stwórz nowy", "Create", "Threads", new { forumId = Model.Forum.ForumId }, new { @class = "btn btn-info btn-sm" })
    </div>
    @foreach (var item in Model.Threads)
    {
        <div class="media text-muted pt-3 @(item.ThreadtypeId == 6 ? "bg-lightorange" : "")  @(item.ThreadtypeId == 7 ? "bg-warning" : "")">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <span class="d-block text-gray-dark">
                    <strong>@Html.ActionLink(item.Title, "Details", "Threads", new { id = item.ThreadId }, new { })</strong> - Stworzył: @item.CreatedBy.Nickname
                </span>
                Postów: @item.Posts.Count
            </p>
        </div>
    }
</div>
