﻿@model forum.net.Models.CreateThreadViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="forum_id" value="@Model.Forum.ForumId">
    
<div class="form-horizontal">
    <h4>Wątek - stwórz</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Thread.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Thread.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Thread.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Thread.ThreadtypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Thread.ThreadtypeId, Model.Threadtypes, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Thread.ThreadtypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-none">
        @Html.LabelFor(model => model.Thread.ForumId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Thread.ForumId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Thread.ForumId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="post_body">Treść</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line"
                   data-val="true" data-val-length="Pole Tytuł musi być ciągiem o maksymalnej długości 35."
                   data-val-length-max="35" data-val-required="Pole Tytuł jest wymagane." id="post_body" name="post_body" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-info">Stwórz</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index", "Home")
</div>
