﻿@model forum.net.Models.Thread
@{
    ViewBag.Title = "Details";
}

<div>

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Strona główna -> @Html.DisplayFor(model => model.Title) ->  @ViewBag.threadname </h6>
        </div>
    </div>

    <h3> @Html.DisplayFor(model => model.Title)</h3>

    <br>

    @foreach (var item in Model.Posts)
    {
        <div class="media">
            <img class="align-self-start mr-3" src="https://img.icons8.com/ios/100/000000/guest-male.png" alt="Generic placeholder image" style="width:10%">
            <div class="media-body">

                <h4><b>@item.CreatedBy.Nickname</b></h4>
                @Html.DisplayFor(modelItem => item.Body)
                <hr>Utworzono: @Html.DisplayFor(modelItem => item.CreatedAt)

            </div>
        </div>
        <br>
    }


</div>



<a href='@Url.Action("Create", "Posts", new { id = Model.ThreadId })'>
    <img src='https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/add-circle-green-512.png' style="width:2%" />
    Dodaj Post
</a>
<br />
<br />

<p>
    @Html.ActionLink("Wróć do listy wątków", "Threads", "Threads", new { id = Model.ForumId }, new { })
</p>