﻿@model forum.net.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thread.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
