﻿@model IEnumerable<forum.net.Models.Complain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComplainId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComplainId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComplainId })
        </td>
    </tr>
}

</table>
